@import "tailwindcss";
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  min-height: 100vh;
  overflow-x: hidden;
  /* Light  tint */
  background-color: rgb(255, 251, 244); 
  animation: pulse-bg 8s ease-in-out infinite alternate;
}

